<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TsRecordMapper" >
  <resultMap id="BaseResultMap" type="TsRecord" >
    <id column="F_ID" property="fId" jdbcType="INTEGER" />
    <result column="F_SUBJECT" property="fSubject" jdbcType="VARCHAR" />
    <result column="F_CONTENT" property="fContent" jdbcType="VARCHAR" />
    <result column="F_ADD_ID" property="fAddId" jdbcType="INTEGER" />
    <result column="F_ADD_NAME" property="fAddName" jdbcType="VARCHAR" />
    <result column="F_ADD_DATE" property="fAddDate" jdbcType="VARCHAR" />
    <result column="F_TYPE" property="fType" jdbcType="VARCHAR" />
    <result column="F_REMIND_TIME" property="fRemindTime" jdbcType="VARCHAR" />
  </resultMap>
  

  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from ts_record
    where F_ID = #{fId,jdbcType=INTEGER}
  </select>
  
  
  <!-- 查询出当前时间前5分钟，需提醒的数据。由spring 定时器每5分钟触发一次 -->
  <select id="selectRemindData" parameterType="pd" resultMap="BaseResultMap">
  select *,NOW() from ts_record  where 
     NOW() >F_REMIND_TIME
   and F_REMIND_TIME > DATE_SUB(NOW(),interval 5 minute);
  </select>
  
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="page">
   select * from ts_record order by f_id desc
  </select>
  
  <delete id="deleteByIds" parameterType="pd" >
    delete from ts_record
    where F_ID in (${fIds})
  </delete>
 
  <insert id="insert" parameterType="TsRecord" useGeneratedKeys="true" keyProperty="fId">
    insert into ts_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="fSubject != null" >
        F_SUBJECT,
      </if>
      <if test="fContent != null" >
        F_CONTENT,
      </if>
      <if test="fAddId != null" >
        F_ADD_ID,
      </if>
      <if test="fAddName != null" >
        F_ADD_NAME,
      </if>
      <if test="fAddDate != null" >
        F_ADD_DATE,
      </if>
      <if test="fType != null" >
        F_TYPE,
      </if>
      <if test="fRemindTime != null" >
        F_REMIND_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="fSubject != null" >
        #{fSubject,jdbcType=VARCHAR},
      </if>
      <if test="fContent != null" >
        #{fContent,jdbcType=VARCHAR},
      </if>
      <if test="fAddId != null" >
        #{fAddId,jdbcType=INTEGER},
      </if>
      <if test="fAddName != null" >
        #{fAddName,jdbcType=VARCHAR},
      </if>
      <if test="fAddDate != null" >
        #{fAddDate,jdbcType=VARCHAR},
      </if>
      <if test="fType != null" >
        #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fRemindTime != null" >
        #{fRemindTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="TsRecord" >
    update ts_record
    <set >
      <if test="fSubject != null" >
        F_SUBJECT = #{fSubject,jdbcType=VARCHAR},
      </if>
      <if test="fContent != null" >
        F_CONTENT = #{fContent,jdbcType=VARCHAR},
      </if>
      <if test="fAddId != null" >
        F_ADD_ID = #{fAddId,jdbcType=INTEGER},
      </if>
      <if test="fAddName != null" >
        F_ADD_NAME = #{fAddName,jdbcType=VARCHAR},
      </if>
      <if test="fAddDate != null" >
        F_ADD_DATE = #{fAddDate,jdbcType=VARCHAR},
      </if>
      <if test="fType != null" >
        F_TYPE = #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fRemindTime != null" >
        F_REMIND_TIME = #{fRemindTime,jdbcType=VARCHAR},
      </if>
    </set>
    where F_ID = #{fId,jdbcType=INTEGER}
  </update>
  
</mapper>