<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TsVedioMapper" >

  <resultMap id="BaseResultMap" type="TsVedio" >
    <id column="F_ID" property="fId" jdbcType="INTEGER" />
    <result column="F_SUBJECT" property="fSubject" jdbcType="VARCHAR" />
    <result column="F_IMG" property="fImg" jdbcType="VARCHAR" />
    <result column="F_IMG_URL" property="fImgUrl" jdbcType="VARCHAR" />
    <result column="F_VEDIO" property="fVedio" jdbcType="VARCHAR" />
    <result column="F_VEDIO_URL" property="fVedioUrl" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *  from ts_vedio
    where F_ID = #{fId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByIds" parameterType="pd" >
    delete from ts_vedio
    where F_ID in (${fIds})
  </delete>
  
  <select id="selectByPage" parameterType="page" resultMap="BaseResultMap">
  select * from ts_vedio order by F_ID  desc
  </select>
  
  <insert id="insert" parameterType="TsVedio" useGeneratedKeys="true" keyProperty="fId">
    insert into ts_vedio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        F_ID,
      </if>
      <if test="fSubject != null" >
        F_SUBJECT,
      </if>
      <if test="fImg != null" >
        F_IMG,
      </if>
      <if test="fImgUrl != null" >
        F_IMG_URL,
      </if>
      <if test="fVedio != null" >
        F_VEDIO,
      </if>
      <if test="fVedioUrl != null" >
        F_VEDIO_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=INTEGER},
      </if>
      <if test="fSubject != null" >
        #{fSubject,jdbcType=VARCHAR},
      </if>
      <if test="fImg != null" >
        #{fImg,jdbcType=VARCHAR},
      </if>
      <if test="fImgUrl != null" >
        #{fImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="fVedio != null" >
        #{fVedio,jdbcType=VARCHAR},
      </if>
      <if test="fVedioUrl != null" >
        #{fVedioUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="TsVedio" >
    update ts_vedio
    <set >
      <if test="fSubject != null" >
        F_SUBJECT = #{fSubject,jdbcType=VARCHAR},
      </if>
      <if test="fImg != null" >
        F_IMG = #{fImg,jdbcType=VARCHAR},
      </if>
      <if test="fImgUrl != null" >
        F_IMG_URL = #{fImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="fVedio != null" >
        F_VEDIO = #{fVedio,jdbcType=VARCHAR},
      </if>
      <if test="fVedioUrl != null" >
        F_VEDIO_URL = #{fVedioUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where F_ID = #{fId,jdbcType=INTEGER}
  </update>
 
</mapper>